<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - QuizzApp</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% else %}
          <li><a href="{{ url_for('quiz') }}">Take Quiz</a></li>
          <li><a href="{{ url_for('results') }}">Results</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>
  </body>
</html>
