{% extends "base.html" %} {% block content %}
<h1>Log In</h1>
<form action="{{ url_for('login') }}" method="post" novalidate>
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      required
      autocomplete="username"
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      autocomplete="current-password"
    />
  </div>
  <div>
    <input type="checkbox" id="remember_me" name="remember_me" />
    <label for="remember_me">Remember Me</label>
  </div>
  <div>
    <input type="submit" value="Sign In" />
  </div>
</form>
<p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
{% endblock %}
